#super-nav
  position: fixed
  width: $default-content-width + ($default-content-padding * 2) + $side-width
  margin: 5px 0 10px
  +legacy-pie-clearfix()
  ul
    margin: 0 0 0 -10px
    padding: 0
    float: right
    list-style: none
    li
      font-size: $navigation-font-size
      float: left
      margin-left: 10px
      &:after
        position: relative
        top: 1px
        content: "|"
        padding-left: 10px
      &:last-child
        &:after
          padding-left: 0
          content: ''
      a
        color: #a5b3a1
        font-family: $rocksalt
        font-weight: normal
        text-transform: capitalize
        text-decoration: none
        display: inline-block
        vertical-align: top
        &:after
          +opacity(0)
          border-bottom-width: 0px 
          -webkit-border-image: image-url('underline.png') 0% scale
          content: '.'
          color: transparent
          display: block
        &:hover
          color: #fff
          &:after
            +opacity(1)
            -webkit-border-image: image-url('underline.png') 0% scale
            content: '.'
            color: transparent
            display: block
        
#property-navigation
  margin-top: $default-content-padding * 2
  ul
    position: fixed
    top: 85px
    margin: $standard-margin 0 0 -10px
    padding: 0
    list-style: none
    li
      font-size: $navigation-font-size
      margin: 5px 0 5px 10px
      a
        color: #7f8a7c
        font-family: $rocksalt
        font-weight: normal
        text-transform: capitalize
        letter-spacing: 5px
        text-decoration: none
        display: inline-block
        &:after
          +opacity(0)
          border-bottom-width: 0px 
          -webkit-border-image: image-url('underline.png') 0% scale
          content: '.'
          color: transparent
          display: block
        &:hover
          color: #fff
          &:after
            +opacity(1)
            -webkit-border-image: image-url('underline.png') 0% scale
            content: '.'
            color: transparent
            display: block