nav
  +clearfix()
  ul
    margin: 0
    padding: 0
    float: right
    list-style: none
    li
      float: left
      margin-left: 10px
      &:after
        content: "|"
        padding-left: 10px
      &:first-child
        margin-left: 0
      &:last-child
        &:after
          padding-left: 0
          content: ''
      
      a
        font: bold 15px $oswald
        text-transform: uppercase
        text-decoration: none
        color: #333