@import "compass"
+global-reset

// Variables  
$ptserif: 'PT Sans', sans-serif
$oswald: 'Oswald', sans-serif
$rocksalt: 'Rock Salt', cursive
$image-wrapper-background-color: #eee
$image-wrapper-padding: 7px
$standard-line-height: 20px
$standard-margin: 20px
$default-radius: 3px
$default-background-color: #333
$default-font-color: #484e46
$default-link-color: #8d0000
$default-heading-color: #363427
$default-content-width: 650px
$default-content-padding: 50px
$side-width: 250px
$navigation-font-size: 14px

// Mixins
@mixin box-styling
  border: 1px red solid
  padding: 10px
  margin: 10px 0
  background: rgba(white, 1)
// Elements
a
  +transition(color .5s ease-out)
  font-weight: bold
  color: $default-link-color
  &:hover
    color: $default-font-color

// Notices
.note 
  color: red
  font-weight: bold

// Utilities
.clear
  clear: both

// Layout
#wrapper
  width: $default-content-width + $side-width + ($default-content-padding * 2)
  margin: $standard-margin auto 30px
  //+box-align(middlek)
  +legacy-pie-clearfix()
  #side
    float: left
    width: $side-width
  #main
    float: right
    width: $default-content-width


// Body
body
  +background(image-url('blackboard.jpg') no-repeat bottom right fixed $default-background-color)
  +background-size(cover)
  color: $default-font-color
  font-family: $ptserif
  &.full-background
    background: image-url('1.jpg') $default-background-color no-repeat center center fixed
    background-size: cover
  &.scaled-background
    background: image-url('1.jpg') $default-background-color no-repeat 0 0 fixed
    background-size:  100px 100px
  &.background-1
    background: image-url('1.jpg') $default-background-color no-repeat center center fixed
    background-size: cover
  &.background-2
    background: image-url('1.jpg') 0 0 no-repeat fixed, image-url('1.jpg') no-repeat center center fixed
    background-color: $default-background-color
    background-size: 100px 100px, cover
  &.background-3
    background: image-url('1.jpg') 0 0 no-repeat fixed, image-url('1.jpg') no-repeat 100% 0 fixed, image-url('1.jpg') no-repeat center center fixed
    background-color: $default-background-color
    background-size: 100px 100px, 100px 100px, cover
  &.background-4
    background: image-url('1.jpg') 0 0 no-repeat fixed, image-url('1.jpg') no-repeat 100% 0 fixed, image-url('1.jpg') no-repeat 0 100% fixed, image-url('1.jpg') no-repeat center center fixed
    background-color: $default-background-color
    background-size: 100px 100px, 100px 100px, 100px 100px, cover
  &.background-5
    background: image-url('1.jpg') 0 0 no-repeat fixed, image-url('1.jpg') no-repeat 100% 0 fixed, image-url('1.jpg') no-repeat 0 100% fixed, image-url('1.jpg') no-repeat 100% 100% fixed, image-url('1.jpg') no-repeat center center fixed
    background-color: $default-background-color
    background-size: 100px 100px, 100px 100px, 100px 100px, 100px 100px, cover

// Navigation
@import navigation

// Main Content Section
#main
  width: $default-content-width
  margin: 0 auto ($default-content-padding / 2)
  padding: $default-content-padding
  background: #efefef
  +border-radius($default-radius)
  position: relative
  z-index: 2
  //+clearfix()
  &.shadow
    +box-shadow(0 1px 100px rgba(0, 0, 0, .6), 0 0 50px rgba(255, 254, 238, .6) inset, 0 0 50px rgba(0, 0, 0, .4) inset)
  &.no-shadow
    +box-shadow(0 0px 0px rgba(0, 0, 0, 0), 0 0 0px rgba(0, 0, 0, 0) inset, 0 0 0px rrgba(0, 0, 0, 0) inset)
  &.vibrant-shadow
    +box-shadow(rgba(blue, .7) 0 0 75px, rgba(red, 1) 0 0 50px, rgba(green, .7) 0 0 3px 21px inset, rgba(black, 1) 0 0 0px 11px inset)
  &.gradient
    +background-image(linear-gradient(right, rgba(255, 254, 238, .2), #fff 7%, #efefef 93%))
  &.no-gradient
    +background-image(linear-gradient(right, rgba(255, 254, 238, .0), rgba(255, 254, 238, .0) 7%, rgba(255, 254, 238, .0) 93%))
  &.vibrant-gradient
    +background-image(linear-gradient(right, rgba(blue, .5), rgba(red, .5) 7%, rgba(green, .5) 93%))
  
  // Interface Styling
  .CodeRay
    +box-shadow(0px 0px 1px #dfdfdf)
    +background-image(linear-gradient(right, #efefef, rgba(255, 255, 255, 0.0)))
    +transition(background-color .5s ease-out)
    clear: both
    background-color: #efefef
    &:hover
      background-color: #fff
  .banner-box
    position: relative
    .banner
      +rotate(-135deg)
      position: absolute
      right: -77px
      top: -77px
      border-color: #cc0000 transparent transparent
      border-style: solid
      border-width: 75px
      height: 0px
      width: 0px
      span
        +rotate(-177deg)
        white-space: nowrap
        color: #eee
        position: absolute
        top: -65px
        right: -43px
        display: block
        //font-weight: bold
        font-size: 16px
        font-family: $rocksalt

  // Copy Styling

  .center
    text-align: center
  .float-right
    float: right
  .shadow
    +box-shadow(0px 0px 20px #666)
  iframe
    margin: $standard-margin 0
  strong
    color: $default-heading-color

  h1, h2, h3, h4, h5, h6
    color: $default-heading-color
    font-family: $oswald
    margin: ($standard-margin * 2.5) 0
    
    //&:last-child
    //  margin-bottom: 0
  h1
    font-size: 3em
    text-transform: uppercase
    +background(image-url('blackboard.jpg') no-repeat center center fixed $default-background-color)
    +background-size(contain)
    color: #fff
    padding: 10px
    width: auto
    display: inline-block
    +border-radius(5px)
    &:first-child
      margin-top: 0
  h2
    font-size: 2em
    line-height: $standard-line-height * 1.5
    margin: ($standard-margin * 1.5 ) 0 
    text-transform: capitalize
    border-bottom: solid 2px $default-heading-color
    padding-bottom: 1px
  h3
    text-transform: capitalize
    font-size: 1.5em
    line-height: 1.5em
    margin: ($standard-margin * 1.5) 0 ($standard-margin / 3)
  h4
    font-family: $ptserif
    font-size: 1.1em
    text-transform: uppercase
    font-weight: bold
    margin: ($standard-margin * 1.2) 0 ($standard-margin / 3)
    color: $default-link-color
  h5
    
  p
    margin: $standard-margin 0
    line-height: $standard-line-height
    .image-align-right
      margin-top: 0
    &:last-child
      margin-bottom: 0
  input
    background: #111
    color: #eee
    border: 0
    padding: 5px 10px
    text-transform: uppercase
    letter-spacing: 1px
    font-weight: bold
    font-size: 11px
    +border-radius($default-radius)
    display: block
    +transition(background-color .5s ease-out)
    +box-shadow(0 0 20px rgba(0, 0, 0, .3) inset)
    &:hover
      background: #cc0000
    &.inline 
      display: inline-block
  ol
    list-style: upper-roman
    lin-height: $standard-line-height
    li
      font-size: .95em
      margin: ($standard-margin /2) 0
    > li:last-child
      margin-bottom: 0
  ul
    list-style: square
    line-height: $standard-line-height
    li
      font-size: .95em
      margin: ($standard-margin / 2) 0
    > li:last-child
      margin-bottom: 0
  .image-align-right
    float: right
    margin: $standard-margin 0 $standard-margin $standard-margin
  .image-wrapper
    position: relative
    background: $image-wrapper-background-color
    padding: $image-wrapper-padding
    img
      display: block
    .blackout
      background: #000
      position: absolute
      top: 0
      left: 0
      color: #fff
      +display-box
      +box-align(center)
      text-align: center
      line-height: $standard-line-height
      text-transform: uppercase
      height: 100%
      padding: 0 50px
  blockquote
    +box-shadow(0px 0px 1px #eee)
    +background-image(linear-gradient(right, #efefef, rgba(255, 255, 255, 0.0)))
    +transition(background-color .5s ease-out)
    background-color: #efefef
    padding: 25px 60px
    margin: $standard-margin 0
    color: #555
    &:last-child
      margin: 0
    &:before
      content: '"'
      color: #fff
      float: left
      font-size: 150px
      font-family: $ptserif
      line-height: 1
      width: 0
      height: 0
      position: relative
      top: -30px
      left: -55px
    &:after
      content: '"'
      color: #fff
      float: right
      font-size: 150px
      font-family: $ptserif
      width: 50px
      height: 0
      width: 0
      position: relative
      top: -50px
      right: 0px
    &:hover
      background-color: #fff
      &:before
        color: #eee
    cite
      font-style: italic
      font-size: 12px
    a
      color: $default-link-color
      +transition(color .5s ease-out)
      &:hover
        color: #555
    p
      &:first-child
        margin-top: 0
      &:last-child
        margin-bottom: 0
        
  // Index Styling
  @import index
  
  // Image Styling
  @import images
  
  // Flex-box
  @import flex-box
        
  // Colors Page
  @import colors

  // Borders Page
  @import borders
  
  // Shadows Page
  @import shadows
  
  // Backgrounds Page
  @import backgrounds
  
  // Transforms Page
  @import transforms
  
  // Layout Methods
  @import layout-methods
  
  // Misc
  @import misc