%ul
  %li 
    =link_to('Backgrounds', 'backgrounds.html')
  %li 
    =link_to('Borders', 'borders.html')
  %li 
    =link_to('Colors', 'colors.html')
  %li 
    =link_to('Layout Methods', 'layout-methods.html')
  %li 
    =link_to('Media Detection', 'media-detection.html')
  %li 
    =link_to('Misc', 'misc.html')
  %li 
    =link_to('Shadows', 'shadows.html')
  %li 
    =link_to('Transformations', 'transformations.html')
  %li 
    =link_to('Transitions', 'transitions.html')