http://nimbupani.com/spacing-out-on-css-namespaces.html
http://nicolasgallagher.com/
http://nimbupani.com/css-vocabulary.html
http://nimbupani.com/current-color-in-css.html
http://nimbupani.com/making-pure-css3-demos-better.html
http://nimbupani.com/safe-css-defaults.html
http://www.456bereastreet.com/archive/201103/the_css3_flexible_box_layout_flexbox/
http://addyosmani.com/blog/css3transitions-jquery/
http://jsfiddle.net/addyosmani/zRvgS/show/
http://jsfiddle.net/addyosmani/XKrcX/show/
http://jsfiddle.net/addyosmani/fQhsv/show/
http://www.w3.org/TR/CSS/
http://handcraftedcss.com/
http://abduzeedo.com/css-3-tips-nick-and-jim-doctype
http://www.hongkiat.com/blog/beginners-guide-to-css3/
http://hakim.se/experiments
https://developer.mozilla.org/media/uploads/demos/c/o/codepo8/3d78d077a51c2a79281111cdd3d0b0cc/browser-fountain_1314288268_demo_package/index.html?350%1%-15%15%0.97%0.4%0.8%-30%15%true%true
http://lab.simurai.com/toy/monster/
http://www.netmagazine.com/features/how-avoid-common-css3-mistakes
http://css-tricks.com/examples/RotatingBlocks/
http://www.paulrhayes.com/2011-03/css-modal/
http://lea.verou.me/2011/01/styling-children-based-on-their-number-with-css3/
http://net.tutsplus.com/tutorials/html-css-techniques/quick-tip-nonintrusive-css-text-gradients/
http://lea.verou.me/2011/03/beveled-corners-negative-border-radius-with-css3-gradients/
http://www.quirksmode.org/css/multicolumn.html
http://css-tricks.com/8518-css3-progress-bars/
http://www.w3.org/Style/CSS/current-work.en.html
http://coding.smashingmagazine.com/2011/05/17/an-introduction-to-css3-keyframe-animations/
http://sixrevisions.com/css/css3-techniques-you-should-know/
http://www.abookapart.com/products/
http://www.w3.org/Style/CSS/current-work.html
http://www.w3.org/TR/css3-content/
http://www.w3.org/TR/css3-transitions/
http://www.w3.org/TR/css3-2d-transforms/
http://www.w3.org/TR/css3-background/
http://www.w3.org/TR/css3-selectors/
http://meyerweb.com/eric/css/tests/css3/
http://webstandard.kulando.de/post/2010/03/19/css-box-reflect-spiegelung-ohne-javascript-und-photoshop
http://nickcowie.com/webjam11/reflect.html
http://www.webkit.org/blog/182/css-reflections/
http://designshack.net/articles/css/mastering-css-reflections-in-webkit/
http://net.tutsplus.com/tutorials/html-css-techniques/quick-tip-pure-css-reflections/
http://stackoverflow.com/questions/4731955/webkit-box-reflect-and-positionabsolute
http://webdeziners.blogspot.com/2010/06/10-awesome-css3-features-which-makes.html
http://stuntsnippets.com/css3-reflection/
http://www.impressivewebs.com/easy-html5-template/
http://css3pie.com/documentation/supported-css3-features/#pie-background