- content_for :head do
  %title RGB(A) HSL(A) | Hex A Pox On You...
%h1 Something New Has Been Added
%p
  %span.image-wrapper.image-align-right
    =image_tag('racist-porky.jpg', :valign => 'top', :class => 'racist-pig') 
  Here he have a racist Porky Pig, now I cant have you seeing this so its only proper that I censor it.
%p
  %input{ :type => 'button', :value => 'Censor', :class => "censor" }
  
%p  
  
