- content_for :head do
  %title RGB(A) HSL(A) | Hex A Pox On You...
%h1 New Color Values
%h2 HSL &amp; RGB
%p Other than named and <em>Hex</em> there are another two other standards for which you can define color in modern browsers <em>HSL</em> &amp; <em>RGB</em>.
%section.banner-box
  .banner
    %span
      All Black
  :coderay
    #!css
    body {
      color: black; /* Color Name */
      color: #000; /* Hex Short Hand */
      color: #000000; /* Full Hex */
      color: rgb(0, 0, 0); /* RGB */ 
      color: hsl(0, 0, 0); /* HSL */
    }
%p Unless you're taking advantage of the <em>alpha value</em> in <em>RGB</em> or <em>HSL</em> there is no reason one method over another outside of browser support. You might find it easier to use <em>RGB</em> over <em>HSL</em> since you can rely on the Photoshop <em>RGB</em> values to be accurate on the web whereas <em>HSL</em> will be different.
%h2 Alpha vs Opacity
%p
  %span.image-wrapper.image-align-right
    =image_tag('racist-porky.jpg', :valign => 'top', :class => 'racist-pig') 
  I enjoy a little tongue and cheek humor but I cant have you seeing this so its only proper that I censor it.
  %br
  %input{ :type => 'button', :value => 'Censor', :class => "censor" }

%p  
  In the few few seconds since I saved you from that dirty racism I feel you've matured enough to allow you to see the offending image with a warning.
  %br
  %input{ :type => 'button', :value => 'Toggle Warning', :class => "censor-opacity" }
%h3.clear The problem with opacity
%p When using opacity the children of the container also inherit the property. One way around this would be to use a 24bit png but this would require you to recreate the image every time you wanted to change the color or opacity. This problem can be solved by including an alpha value in your RGB and HSL declarations.
%p
  %input{ :type => 'button', :value => 'RGBA', :class => "rgba" }
  %input{ :type => 'button', :value => 'HSLA', :class => "hsla" }
  %input{ :type => 'button', :value => 'Hex & Opacity', :class => "hex-opacity" }
%h4 Less code and easier to maintain
:coderay
  #!css
  body {
  
    /*  Hex & Opacity */
    background: #000
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    opacity: 0.5;
    
    /* RGBA */
    background: rgba(0, 0, 0, 0.5);
    
    /* HSLA */
    background: hsla(0, 0, 0, 0.5);
    
  }
%h3 Browser Support
%p IE7-8 does not support HSL or RGB, all modern browser do however. If you would like to know more please proceed to #{ link_to('caniuse.com', 'http://caniuse.com/#search=rgba')}
%h3 Cross Browser Solutions
%p If you're interested in a javascript solution #{link_to('CSS3 PIE', "http://css3pie.com/documentation/supported-css3-features/#rgba") } might fit your particular needs.