http://nimbupani.com/bokeh-with-css3-gradients.html
https://github.com/louisremi/jquery.transition.js/
https://github.com/benbarnett/jQuery-Animate-Enhanced
http://yepnopejs.com/
http://www.css3maker.com/
http://westciv.com/tools/
http://www.webdeveloperjuice.com/2010/01/18/7-javascript-effect-alternatives-using-css3-for-webkit-browsers/
http://css3pie.com/
http://leaverou.github.com/prefixfree/
http://letteringjs.com/
