%h1 Canvas Is The New Flash
=link_to('http://hakim.se/experiments', 'http://hakim.se/experiments')
=link_to('Html5 Fountain', 'https://developer.mozilla.org/media/uploads/demos/c/o/codepo8/3d78d077a51c2a79281111cdd3d0b0cc/browser-fountain_1314288268_demo_package/index.html?350%1%-15%15%0.97%0.4%0.8%-30%15%true%true')

%h2 CSS Experiments
=link_to('Simurai Lab', 'http://simurai.com/tagged/lab')