%h1 Layout Properties
%h2 Columns
%p While we have had the ability to create multi column layouts for some time its never been this easy or useful. The columns properties will allow you to easily create multi column layouts without the need for extra markup or hard to maintain styling. 
 
%h3 Without using the column properties
#without-columns
  %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
  %p dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. 
%h4 The Code
:coderay
  #!html
  <div>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
    </p>
    <p>
      dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
  </div>
:coderay
  #!css
  div {
    overflow: hidden;
  }
  div p:first-child {
    float: left;
    margin-top: 0;
    width: 50%;
  }
  div p:last-child {
    float: right;
    margin-top: 0;
    width: 50%;
  }
%h3 Using the column properties
.with-columns
  %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  
%h4 The Code
:coderay
  #!html
  <div>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
  </div>
:coderay
  #!css
  .layout-methods #main #with-columns {
    column-count: 2;
  }
  .layout-methods #main #with-columns p:first-child {
    margin-top: 0;
  }

%h3 Browser Support
%p The multi column module is available in all current versions of <em>Gecko</em> and <em>Webkit</em> browsers as well as several versions back. Don't expect to see this in Internet Explorer until version 10.
%h3 Cross Browser Solution
%blockquote
  %p Of course, we know that browser support for the multi-column methods is pretty much restricted to the Firefox and Safari browsers using their -moz- and -webkit- prefixes. What about Internet Explorer? In this case, there is a #{ link_to('JavaScript method', 'http://www.cvwdesign.com/txp/article/360/')} that enables support and allows you to implement some of these properties. In fact, you do not need to use the -moz- and -webkit- rules either. See my third example which uses an external style sheet that is parsed by the JavaScript. This example works with Internet Explorer 6, 7 and 8, Firefox 2 to 3.5, Safari 3 and 4, and Opera 9.6
  %cite 
    =link_to('http://www.cvwdesign.com/txp/article/360/', 'http://www.cvwdesign.com/txp/article/360/')
%h2 Flex box
%p An alternative to the box model the flexible box model properties allow you to control the position and distribution of contained elements.
%p #{ link_to('Example', 'http://www.the-haystack.com/playground/css3-flexbox/flexbox.html')}
%blockquote
  %p The children of a box are laid out either horizontally or vertically, and unused space can be assigned to a particular child or distributed among the children by assignment of ‘flex’ to the children that should expand.
  %cite 
    =link_to('http://www.css3.info/introducing-the-flexible-box-layout-module/', 'http://www.css3.info/introducing-the-flexible-box-layout-module/') 
%h3 Browser Support
%p Only supported in current <em>Gecko</em> and <em>Webkit</em> browsers and has been reported to yield different results respectively. 