http://webdesignerwall.com/tutorials/css3-media-queries
http://webdesignerwall.com/tutorials/responsive-design-with-css3-media-queries
http://www.css3.info/preview/media-queries/
http://stuffandnonsense.co.uk/blog/about/hardboiled_css3_media_queries
http://dev.w3.org/csswg/css-device-adapt/
http://www.1stwebdesigner.com/css/how-to-use-css3-orientation-media-queries/
http://www.quirksmode.org/mobile/viewports.html
https://developer.mozilla.org/en/Mobile/Viewport_meta_tag
http://css-tricks.com/snippets/javascript/viewport-size-screen-resolution-mouse-postition/