%h1 Misc CSS3
%h2 Text Overflow
http://www.css3.info/preview/text-overflow/
%h2 Text Stroke
http://css-tricks.com/7405-adding-stroke-to-web-text/ 
%h2 Box Reflection
http://s3.amazonaws.com/nettuts/704_cssReflections/index.html
%h2 Pseudo Selectors
http://reference.sitepoint.com/css/css3psuedoclasses
http://thinkvitamin.com/design/stay-on-target/
http://www.quirksmode.org/css/enabled.html
%h2 Attribute Selectors
http://www.css3.info/preview/attribute-selectors/
%h2 Content
http://nooshu.com/adding-content-using-css3
http://nooshu.com/explore/css3-selectors/before-after.html
%h2 Dynamic Value Calculation
http://robertnyman.com/css3/calc/calc.
http://www.w3.org/TR/css3-values/
http://hacks.mozilla.org/2010/06/css3-calc/
http://www.sitepoint.com/css3-calc-function/
http://www.css3.info/calculated-values-and-css22/
http://webdesignernotebook.com/css/the-wonderful-calc-function/
%h2 Selection Colors
http://css-tricks.com/examples/DifferentSelectionColors/