http://www.romancortes.com/blog/css-3d-meninas/
http://www.romancortes.com/blog/3d-meninas-explained/
http://www.romancortes.com/blog/pure-css3-page-flip-effect/
http://iamceege.com/pure-css3-content-slider/
http://www.css3shapes.com/
http://nimbupani.com/vignettes-with-css3-box-shadows.html
http://designmadeingermany.de/slideshow/#a1
http://nimbupani.com/some-css-transition-hacks.html
http://www.ncdthemes.com/
http://www.stompfrog.co.uk/
http://jsfiddle.net/addyosmani/BFeMN/show/
http://jsfiddle.net/addyosmani/P2HB9/show/
http://jsfiddle.net/addyosmani/aF9wJ/show/
http://jsfiddle.net/addyosmani/WApWn/show/
http://jsfiddle.net/addyosmani/Mxyaj/show/
http://tympanus.net/Tutorials/AnimatedButtons/index.html
http://tympanus.net/codrops/
http://www.viget.com/uploads/file/boxshadows/
http://webstuffshare.com/demo/CSSFlyMenu/
http://lab.simurai.com/css/buttons/
http://demo.marcofolio.net/css3_tabbed_nav/
http://designshack.net/tutorialexamples/AnimatedMenu/animatedMenu.html
http://nicolasgallagher.com/pure-css-speech-bubbles/
http://webdesignersdesk.com/2010/06/fancy-image-hover-using-css3/
http://css-tricks.com/examples/SlideToUnlock/
http://designlovr.com/examples/dynamic_stack_of_index_cards/
http://line25.com/wp-content/uploads/2010/webkit-flip/demo/index.html
http://nettuts.s3.amazonaws.com/893_css3D/source_files/index.html
http://demo.marcofolio.net/3d_animation_css3/
http://www.zurb.com/playground/css3-polaroids/
http://webdesignerwall.com/tutorials/css-gradient-text-effect
http://girliemac.com/sandbox/matrix.html
http://www.zachstronaut.com/lab/text-shadow-box/text-shadow-box.html
http://www.zachstronaut.com/lab/text-shadow-box/text-shadow-box.html
http://line25.com/wp-content/uploads/2009/letterpress/demo/demo.html
http://line25.com/
http://trentwalton.com/bgclip/
http://www.reynoldsftw.com/2009/03/text-embossing-technique-with-css/
http://blog.echoenduring.com/2010/05/13/create-beautiful-css3-typography/
http://www.viget.com/uploads/file/webkit-animations/
http://www.viget.com/inspire/css-generated-content/
http://css-tricks.com/examples/3DTextTower/
http://css-tricks.com/examples/BlurryBackgroundEffect/
http://www.waytoocrowded.com/extras/css3-rolled-corners/
http://nicolasgallagher.com/css-typography-experiment/demo/
http://nicolasgallagher.com/pure-css-gui-icons/demo/
http://nicolasgallagher.com/css-drop-shadows-without-images/demo/
http://nicolasgallagher.com/pure-css-folded-corner-effect/demo/
http://nicolasgallagher.com/pure-css-speech-bubbles/demo/
http://lab.simurai.com/css/css3d/
http://demo.freshdesignweb.com/star-css3/
http://demo.tutorialzine.com/2010/10/css3-animated-bubble-buttons/css3-buttons.html
http://css-tricks.com/examples/SlideupBoxes/
http://www.zurb.com/playground/drop-in-modals
http://css-tricks.com/examples/StarryNightCSS3/
http://www.subcide.com/experiments/fail-whale/
http://www.romancortes.com/blog/pure-css-coke-can/
http://www.paulrhayes.com/experiments/perspective/
http://www.nikesh.me/demo/image-effect.html
http://demos.w3avenue.com/cross-browser-pure-css3-vertical-accordion/
http://www.zurb.com/playground/css-boxshadow-experiments
http://neography.com/experiment/circles/solarsystem/
http://desandro.com/articles/opera-logo-css/
http://demo.tutorialzine.com/2009/12/colorful-clock-jquery-css/demo.html
http://anthonycalzadilla.com/css3-ATAT/index.html
http://webdesignersdesk.com/demo/pricegrid/
http://jsfiddle.net/semencov/jzz8z/
http://jsfiddle.net/sl1dr/PayvT/
http://css-3d.org/
http://lea.verou.me/demos/css3-patterns.html
http://dl.dropbox.com/u/921159/Keyboard/page.html#
http://www.eleqtriq.com/2010/11/natural-object-rotation-with-css3-3d/
http://dl.dropbox.com/u/8498648/chrome-logo.html
http://cubiq.org/dropbox/3dcity/index2.html
http://www.paulrhayes.com/experiments/cube-3d/
http://www.paulrhayes.com/experiments/cube/multiCubes.html
http://www.paulrhayes.com/experiments/parallax/
http://www.zachstronaut.com/lab/isocube.html
http://webdeveloperjuice.com/demos/css/css3effects.html#second
http://media.24ways.org/2009/15/space.html
http://www.zurb.com/playground/osx-dock
http://www.zurb.com/playground/sliding-vinyl
http://www.webkit.org/blog-files/3d-transforms/poster-circle.html
http://www.webkit.org/blog-files/3d-transforms/morphing-cubes.html
http://www.webkit.org/blog-files/leaves/index.html
http://www.3site.eu/examples/gallery/
http://paulbakaus.com/lab/js/coverflow/
http://www.kamikazemusic.com/demo/csstabs.html
http://samples.webmatze.de/rotating_image_gallery.htm
http://www.cssplay.co.uk/menu/css3-animation.html#x
http://leaverou.github.com/animatable/