%h1 Transitions
%h2 Animation in CSS
%blockquote
  %p You can change as many styles you want, as many times you want. Specify when the change will happen in percent, or the keywords "from" and "to", which is the same as 0% and 100%. 0% is the beginning of the animation, 100% is when the animation is complete.
  %cite
    =link_to('http://www.w3schools.com/', 'http://www.w3schools.com/css3/css3_animations.asp')
%p 
%p Outside of a few unsupported properties the transition property allows you to easily animate an elements properties from one value to another. Lea Verou a developer out of Greece put together #{ link_to('Animatable', 'http://leaverou.github.com/animatable/')} giving you a small taste of the kinds of animation you can achieve using transitions.

%p
  https://developer.mozilla.org/en/CSS/CSS_animations
  %br
  http://slodive.com/web-development/best-css3-animation-demos-tutorials/
  %br
  http://coding.smashingmagazine.com/2011/09/14/the-guide-to-css-animation-principles-and-examples/
  %br
  http://matthewlein.com/ceaser/
  %br
  http://css3.bradshawenterprises.com/all/
  %br
  http://www.w3schools.com/css3/css3_animations.asp
%h3 Browser Support
%h3 Cross Browser Solutions







