%h2 Transitions
http://css3.bradshawenterprises.com/all/
http://www.w3schools.com/css3/css3_animations.asp

http://coding.smashingmagazine.com/2011/09/14/the-guide-to-css-animation-principles-and-examples/

http://slodive.com/web-development/best-css3-animation-demos-tutorials/
https://developer.mozilla.org/en/CSS/CSS_animations

=link_to('Key Frame Animations', 'http://coding.smashingmagazine.com/2011/05/17/an-introduction-to-css3-keyframe-animations/')
=link_to('Animatable', 'http://leaverou.github.com/animatable/')
http://www.cssplay.co.uk/menu/css3-animation.html