http://matthamm.com/box-shadow-curl.html
http://www.webstuffshare.com/2010/06/codesnippet-css3-flying-menu/
http://deepubalan.com/blog/2010/01/18/cool-sprites-free-overlapped-css-menu-using-css-sprites/
http://sixrevisions.com/css/how-to-create-inset-typography-with-css3/
http://www.pvmgarage.com/2010/01/how-to-create-depth-and-nice-3d-ribbons-only-using-css3/
http://net.tutsplus.com/tutorials/html-css-techniques/build-awesome-practical-css3-buttons/
http://nettuts.s3.amazonaws.com/837_shadow/shadow/index.html
http://www.paulrhayes.com/2010-09/3d-css-cube-ii-touch-gestures-click-and-drag/
http://www.the-art-of-web.com/css/timing-function/
http://www.456bereastreet.com/archive/200601/css_3_selectors_explained/
http://www.css3.info/using-css-3-selectors-to-apply-link-icons/
http://www.zenelements.com/blog/css3-multiple-columns/
http://net.tutsplus.com/tutorials/html-css-techniques/css-fundametals-css-3-transitions/
http://www.impressivewebs.com/animated-sprites-css3/
http://line25.com/articles/super-cool-css-flip-effect-with-webkit-animation
http://24ways.org/2009/going-nuts-with-css-transitions
http://net.tutsplus.com/tutorials/html-css-techniques/build-a-kickbutt-css-only-3d-slideshow/
http://www.marcofolio.net/css/3d_animation_using_pure_css3.html
http://www.zurb.com/playground/css3-polaroids/
http://www.cardeo.ca/2010/adding-an-outline-to-your-text-using-the-css3-text-stroke-property
http://line25.com/tutorials/how-to-create-a-cool-anaglyphic-text-effect-with-css
http://cssglobe.com/post/9641/drawing-calendar-icon-with-css3
http://skunkworks.ivanvanderbyl.com/ui/
http://demo.marcofolio.net/css3_bar_chart_animated/
http://www.accidentalhacker.com/sticky-notes-with-css3/
http://nicolasgallagher.com/css-typography-experiment/
http://nicolasgallagher.com/pure-css-social-media-icons/demo/
http://nicolasgallagher.com/pure-css-social-media-icons/demo/
http://nicolasgallagher.com/css-pseudo-element-solar-system/demo/
http://24ways.org/2009/css-animations
http://net.tutsplus.com/tutorials/html-css-techniques/quick-tip-the-multi-column-css3-module/
http://trentwalton.com/2011/05/19/mask-image-text/
http://www.webkit.org/blog/164/background-clip-text/
http://www.webkit.org/blog/181/css-masks/
http://trentwalton.com/2011/01/18/controlling-web-typography/